
.footer{
    @include bg-image(null, url(../images/bg-footer.png), center, center, no-repeat, 100% 100%); 
    @include text-set(center, 0.30rem, #fff, null, null);
    position:fixed;
    width:100%;
    height:1.63rem;
    left:0;
    bottom:0;
    span{ display:block; }
    span:nth-child(1){ margin: 0 auto; }
    span:nth-child(2){ color:#666; }
    div{ position: absolute;}
    .font-color:nth-child(2){
        color:#ee6d1a;
        font-weight: bold;
    
    }
    .footer-left{
        @include ele-box(1.23rem, 1.14rem);
        left:0.2rem;
        bottom:0.1rem;
        padding-top:0.15rem;
        .left-icon{
            @include ele-box(0.36rem, 0.51rem);
            @include bg-image(null, url(../images/icon-footer001.png), center, center, no-repeat, 100% 100%);           
        }      
        
        .left-curren-icon{
            @include ele-box(0.36rem, 0.52rem);
            @include bg-image(null, url(../images/icon-footer01.png), center, center, no-repeat, 100% 100%);   
        }
        
    }
    .footer-center{
        @include ele-box(1.56rem, 1.20rem);
        left:50%;
        bottom:0.1rem;
        -webkit-transform: translate3d(-50%,0,0);
        .center-icon{
            @include ele-box(0.63rem, 0.63rem);
            @include bg-image(null, url(../images/icon-footer002.png), center, center, no-repeat, 100% 100%);   
        }
        .center-curren-icon{
            @include ele-box(0.63rem, 0.63rem);
            @include bg-image(null, url(../images/icon-footer02.png), center, center, no-repeat, 100% 100%);  
        }
        .center-txt{
            padding-top:0.06rem;
        }
    }
    .footer-right{
        @include ele-box(1.23rem, 1.14rem);
        right:0.1rem;
        bottom:0.1rem;
        padding-top:0.15rem;
        .right-icon{
            @include ele-box(0.52rem, 0.52rem);
            @include bg-image(null, url(../images/icon-footer003.png), center, center, no-repeat, 100% 100%);   
        }
        
        .right-curren-icon{
            @include ele-box(0.52rem, 0.52rem);
            @include bg-image(null, url(../images/icon-footer03.png), center, center, no-repeat, 100% 100%);   
        }
    }
}